.container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}
.container > div{
    border: 1px solid black;
    padding: 10vh;
}
.status-bar{
    border: 1px solid black;
}