img {
  height: 50%;
  width:50%;
}

.red-square {
  width: 50%;
  height: 500px;
  background-color: red;
}

.blue-square {
   width: 50%;
   height: 500px;
   background-color: blue;
}

.green-square {
  width: 50%;
  height: 50%;
  background-color: green;
}

.yellow-square {
  width: 50%;
  height: 50%;
  background-color: yellow;
}