.red-square {
  width: 50px;
  height: 50px;
  background-color: red;
  padding:110px;
}

.blue-square {
   width:50px;
   height:50px;
   background-color: blue;
   position:relative;
   bottom:270px;
   left:1600px;
   padding:110px;
}

.green-square {
  width: 50px;
  height: 50px;
  background-color: green;
  position:relative;
  top:250px;
  padding:110px;

}

.yellow-square {
  width: 50px;
  height: 50px;
  background-color: yellow;
  position:relative;
  bottom:20px;
  left: 1600px;
  padding:110px;

}
.lou-albano {
  width:600px;
  height:600px;
  position:relative;
  bottom:950px;
  left:650px;
}